apiVersion: apps/v1
kind: Deployment
metadata:
  name: finance-service
  namespace: rd-microservices
spec:
  replicas: 2
  selector:
    matchLabels:
      app: finance-service
  template:
    metadata:
      labels:
        app: finance-service
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command:
            - sh
            - -c
            - |
              until nc -zv postgres-finance 5432; do
                echo "Waiting for PostgreSQL..."
                sleep 5
              done
      containers:
      - name: finance-service
        image: microservices_r-d-finance-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8084
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:postgresql://postgres-finance:5432/finance_db
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres-finance-secret
              key: username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-finance-secret
              key: password
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8084
          initialDelaySeconds: 200
          timeoutSeconds: 5
          periodSeconds: 20
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8084
          initialDelaySeconds: 240
          timeoutSeconds: 5
          periodSeconds: 10
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: finance-service
  namespace: rd-microservices
spec:
  selector:
    app: finance-service
  ports:
  - port: 8084
    targetPort: 8084
  type: ClusterIP

